pnpm config set @crashloopbackoff.dev https://gitea.dev-cluster.local/api/packages/gitea-admin/npm/
pnpm config set -- '//gitea.dev-cluster.local/api/packages/jamesbooth/npm/:_authToken' "742b7a2c4e6c279c9adf051338fd216f1c0d022f"
pnpm config set -- '//gitea.dev-cluster.local/api/packages//npm/:_authToken' "742b7a2c4e6c279c9adf051338fd216f1c0d022f"
